{% extends 'base.html' %}

{% block content %}
<!--div class="row-fluid"-->
	<div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>New device</h5>
            </div>
            <div class="widget-content nopadding">
                <form action="{{ url_for('dev.save') }}" method="post" class="form-horizontal">
					
					<div class="control-group">
						<label class="control-label">Device id :</label>
						<div class="controls">
							<input
							type="text"
							id="device_id"
							name="device_id"
							class="span8"
							placeholder="Device id"
							/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Entity name :</label>
						<div class="controls">
							<input
							type="text"
							id="entity_name"
							name="entity_name"
							class="span8"
							placeholder="Entity name"
							/>
						</div>
					
						<label class="control-label">Entity type :</label>
						<div class="controls">
							<input
							type="text"
							id="entity_type"
							name="entity_type"
							class="span8"
							placeholder="Entity type"
							/>
						</div>					
					</div>
					
					<div class="control-group">
						<label class="control-label">Select model :</label>
						<div class="controls">
							<select c id="model_id" name="model_id">									
									{% for i in range(list_models["model"]|length) %}					  		
										<option value="{{ list_models['model'][i] }}">{{ list_models["model"][i] }}</option>
							 		{% endfor %}								
							</select>
					  	</div>					  
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-success">Save</button>						
						<strong><a href="{{ url_for('dev.devices') }}"  class="tip-top" data-original-title="Edit">Device list</i></a></strong>
					</div>					
                </form>
				
            </div>
        </div>
    </div>




	
<!--/div-->  
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>  
   

{% endblock %}