{% extends 'base.html' %}

<div id="content">  	
	 <div id="content-header">
	 <div id="breadcrumb"></div>
</div>	
	  
{% block content %}

	<div class="container-fluid">
		<div class="quick-actions_homepage">
			<!--ul class="stat-boxes">  
				<li> 
					<div class="right"><strong>15598</strong> Total Conteiners</div>
				</li>
				<li>
					<div class="right"><strong>150</strong> Memory in use</div>
				</li>
				<li>
					<div class="right"><strong>4560</strong> CPU in use</div>
				</li-->      
				
				<!--li>
				  <a href="{{ url_for('age.agent') }}"> <i class="icon-people"></i> Agents</a>
				</li-->
				<!--li>
					<a href="{{ url_for('auth.register') }}"><i class="icon icon-user"></i><span>User</span></a>
				</li-->					
				<!--li>
				  <a href="{{ url_for('dev.device') }}"> <i class="icon-cabinet"></i> Devices </a>
				</li>
				<li>
				  <a href="{{ url_for('serv.service') }}"> <i class="icon-tag"></i> Services </a>
				</li-->
	        <!--/ul-->
		</div>
	</div>
{% endblock %}
