{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
				<div class="widget-title">					
					<h5>Signature</h5>
				</div>
				<div class="widget-content nopadding">
					<table class="table table-bordered">
						<thead>
							<tr>
							  <th>Name</th>
							  <th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="taskDesc">Store historical data</td>
								<td class="taskOptions">
									{% if not retorno %}
										<a href="{{ url_for('sig.activate') }}" class="btn btn-success btn-mini">Activate</a>
									{% else %}
										 Activated
									{% endif %}
								</td>
							</tr>										
						</tbody>
					</table>
				</div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}