<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex,nofollow" />
    	
	<title>ReFLeX.IoT Platform</title>
	
  
  <link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fullcalendar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/maruti-style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/maruti-media.css')}} ">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/uniform.css') }} ">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/maruti-login.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.css') }}" />
  <!--link rel="stylesheet" href="{{ url_for('static', filename='css/reflex-iot.css') }}" /-->
  
	
	<!--link rel="stylesheet" href="css/uniform.css" />
    <link rel="stylesheet" href="css/select2.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/fullcalendar.css" />
    <link rel="stylesheet" href="css/maruti-style.css" />
    <link rel="stylesheet" href="css/maruti-media.css" class="skin-color" /-->
    <!-- Favicon icon -->   
  </head>

 <body >
    <!--Header-part-->
	<!--close-Header-part-->
    <!--top-Header-messaages-->	
	<!--close-top-Header-messaages-->

    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav">		
		{% if g.user %}	
    
      <li class="">
        <a title="" href="#">
          <i class="icon icon-user"></i> 
          <span class="text">Welcome, {{ g.user['username'] }}</span>
        </a>
      </li>
         
      <!--li class="">		
        <a href="{{ url_for('auth.register') }}">
          <i class="icon icon-edit"></i><span>Account</span>
        </a>
      </li-->	

			<li class="">
				<a href="{{ url_for('auth.logout') }}">
					<i class="icon icon-off"></i><span class="text">Logout</span>
				</a>
      </li>
				
    {% else %}      
			<li class="">
				<a href="{{ url_for('auth.login') }}">
					<i class="icon icon-user"></i><span class="text">Login</span>
				</a>
			</li>
		{% endif %}		
		</ul>
  </div>		
	<!--close-top-Header-menu-->
	
  <div id="sidebar">      
    <ul>    	 	
        <li>
          <a href="{{ url_for('pages.index') }}"><i class="icon icon-home"></i><span>Home</span></a>
          &emsp;&emsp;
        </li>	 
        <li class="submenu">
          <a href="#"><i class="icon icon-screenshot"></i> <span>Provisioning</span></a>
          <ul>
              <li>
                    <a href="{{ url_for('serv.service') }}"><i class="icon icon-wrench"></i>Service Group</a>
              </li>
              <li>
                    <a href="{{ url_for('dev.device') }}"><i class="icon icon-hdd"></i>Device</a>
              </li>            
          </ul>
        </li>
        <li>
          <a href="{{ url_for('set.setup') }}"><i class="icon icon-cog"></i><span>Settings</span></a>
        </li>     
    </ul>
    </div>		  	
    

	<div id="content">  	
		<div id="content-header">
			<div id="breadcrumb"></div>      
		</div>    
	    {% block content %}{% endblock %}		               
        <hr />              
  </div>    

  <div class="row-fluid">
	  <div id="footer" class="span12">2023 &copy; ReFLeX.IoT Platform</div>
  </div>
	
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.custom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/excanvas.min.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.uniform.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/maruti.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/maruti.tables.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.min.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.resize.min.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.peity.min.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/fullcalendar.min.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='js/maruti.dashboard.js') }}"></script>	
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/maruti.form_validation.js') }}"></script>
	  <script type="text/javascript" src="{{ url_for('static', filename='js/maruti.login.js') }}"></script>  
   
  
    
	
	
    <!--script src="js/jquery.uniform.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/jquery.validate.js"></script>    
    <script src="js/maruti.form_validation.js"></script>	
    <script src="js/excanvas.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.ui.custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.flot.min.js"></script>
    <script src="js/jquery.flot.resize.min.js"></script>
    <script src="js/jquery.peity.min.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/maruti.js"></script>
    <script src="js/maruti.dashboard.js"></script>
    <script src="js/maruti.chat.js"></script-->

    <script type="text/javascript">
      // This function is called from the pop-up menus to transfer to
      // a different page. Ignore if the value returned is a null string:
      function goPage(newURL) {
        // if url is empty, skip the menu dividers and reset the menu selection to default
        if (newURL != "") {
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-") {
            resetMenu();
          }
          // else, send page to designated URL
          else {
            document.location.href = newURL;
          }
        }
      }

      // resets the menu selection upon entry to this page:
      function resetMenu() {
        document.gomenu.selector.selectedIndex = 2;
      }
    </script>
 </body>
</html>
